In [1]:
import dataclasses 
@dataclasses.dataclass
class Point:
    x: int
    y: int
        
#Create an instance, which is the data for a geographical point:
p = Point(x=10, y=20)
print(p)

Point(x=10, y=20)

In [2]:
p2 = Point(x=10, y=20)
p == p2

True

In [3]:
#Serialize the data:
dataclasses.asdict(p)

{'x': 10, 'y': 20}

In [2]:
import datetime
datetime.date.today()

datetime.date(2020, 6, 15)

In [7]:
datetime.__dir__()

['__name__',
 '__doc__',
 '__package__',
 '__loader__',
 '__spec__',
 '__file__',
 '__cached__',
 '__builtins__',
 'sys',
 'MINYEAR',
 'MAXYEAR',
 'timedelta',
 'date',
 'tzinfo',
 'time',
 'datetime',
 'timezone',
 'datetime_CAPI']

In [8]:
datetime.time()

datetime.time(0, 0)

In [14]:
datetime.date(1999,2,13)

datetime.date(1999, 2, 13)

In [17]:
print(datetime.date.today.__doc__)

Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).

In [18]:
import datetime
from dateutil import tz

In [19]:
d1 = datetime.datetime(1989, 4, 24, hour=11,
                         tzinfo=tz.gettz("Europe/Madrid"))

In [20]:
d2 = datetime.datetime(1989, 4, 24, hour=8,
                         tzinfo=tz.gettz("America/Los_Angeles"))

In [21]:
print(d1.hour > d2.hour)

True

In [22]:
print(d1 > d2)

False

In [23]:
d2_madrid = d2.astimezone(tz.gettz("Europe/Madrid"))
print(d2_madrid.hour)

17

In [24]:
d3_madrid = d2.astimezone(tz.gettz("America/Argentina"))
print(d3_madrid.hour)

12

In [26]:
#Import the datetime module
import datetime as dttd

In [27]:
#Create two datetime objects. You now create two dates
d1 = dttd.datetime(2019, 2, 25, 10, 50,
                 tzinfo=dttd.timezone.utc)
d2 = dttd.datetime(2019, 2, 26, 11, 20,
                 tzinfo=dttd.timezone.utc)

In [28]:
#Subtract d1 from d2
d2-d1

datetime.timedelta(days=1, seconds=1800)

In [29]:
delta = d2 - d1
delta.total_seconds()

88200.0

In [31]:
d1 = dttd.datetime.now(dttd.timezone.utc)
d1.isoformat()

'2020-06-16T01:53:09.388307+00:00'