In [4]:
import pandas as pd
# Create dictionary of test scores
test_dict = {'Corey':[63,75,88], 'Kevin':[48,98,92], 'Akshay': [87, 86, 85]}
# Create DataFrame
df = pd.DataFrame(test_dict)
df = df.T

In [5]:
df

         0   1   2
Corey   63  75  88
Kevin   48  98  92
Akshay  87  86  85

In [6]:
# Rename Columns
df.columns = ['Quiz_1', 'Quiz_2', 'Quiz_3']
df

        Quiz_1  Quiz_2  Quiz_3
Corey       63      75      88
Kevin       48      98      92
Akshay      87      86      85

In [7]:
df.iloc[0,:]

Quiz_1    63
Quiz_2    75
Quiz_3    88
Name: Corey, dtype: int64

In [8]:
df.iloc[1]

Quiz_1    48
Quiz_2    98
Quiz_3    92
Name: Kevin, dtype: int64

In [9]:
df['Quiz_3']

Corey     88
Kevin     92
Akshay    85
Name: Quiz_3, dtype: int64

In [10]:
df.Quiz_3

Corey     88
Kevin     92
Akshay    85
Name: Quiz_3, dtype: int64

In [11]:
df.iloc[:,2]

Corey     88
Kevin     92
Akshay    85
Name: Quiz_3, dtype: int64